.card {
  display: flex;
  flex-direction: column;
  
  gap: 20px;

  width: 400px;
  height: 230px;
  padding: 30px;

  border: 2px solid #ddd;
  border-radius: 10px;

  

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__person {
    display: flex;
    
    gap: 20px;
  }

  &__img {

  }

  &__heading {
    display: flex;
    flex-direction: column;
    
    

    width: 180px;
  }

  &__name {
    font-size: 18px;
    font-weight: 500;
    color:#0b132a;
  }

  &__adress {
    font-size: 14px;
    line-height: 30px;
    color: #4f5665;
  }

  &__rate {
    display: flex;
    align-items: center;
    gap: 11px;
  }

  &__rate-num {

  }

  &__star {

  }

  &__text {
    color: #0b132a;
    line-height: 30px;
  }
}