.customers {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 0;
  padding-top: 125px;

  &__heading {
    margin-bottom: 20px;

    font-size: 2.2rem;
    font-weight: 500;
    line-height: 50px;
    color:#0b132a;

    text-align: center;
  }

  &__description {
    margin-bottom: 60px;

    text-align: center;
  }

  &__card {
    margin-right: 50px;
  }
}